body{
  width: 100%;
  height: 1920px;
  margin: 0px;
}
table{
  width: auto;
  height: auto;
  border-collapse: collapse;
}
td{
  height: 213.3px;
  width: 274px;
  border: 10px solid black;
}
tr{
  height: 213.3px;
  width: 1920px;
}
.n{
  width: 822px;
}
.l{
  width: 548px;
}
.y{
  background: #fff968;
}
.r{
  background: red;
}
.b{
  background: #1e1a1a;
}
.bl{
  background: #07417f;
}
